.account-form{
  text-align: center;
  position: relative;

  .container{
    margin: 0 auto;

    header{
      margin-top: 50px;

      img{
        width: 450px;
        height: auto;
      }
    }

    form{
      width: 800px;
      margin: 100px auto;

      label{
        width: 100%;
        font-size: 2em;
        font-family: 'Bungee', cursive;
        color: #FFCE00;
        margin-bottom: 15px;
      }

      input{
        width: 92%;
        border-radius: 4px;
        padding: 4% 4%;
        margin-bottom: 15px;
        font-size: 1em;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
      }

      button{
        margin: 0 auto;
        width: 100%;
        padding: 15px 0;
        color: #ffffff;
        font-family: 'Bungee', cursive;
        font-size: 2em;
        text-shadow: 0 2px 8px #ff6600;
        margin-top: 15px;
        border: 2px solid #FFCE00;
        border-radius: 4px;
        background: #000000;
        /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#FFCE00, #FF9300);
        /*Safari 5.1-6*/
        background: -o-linear-gradient(#FFCE00, #FF9300);
        /*Opera 11.1-12*/
        background: -moz-linear-gradient(#FFCE00, #FF9300);
        /*Fx 3.6-15*/
        background: linear-gradient(#FFCE00, #FF9300);
        /*Standard*/
        opacity: 0.9;
      }
    }
  }
}

@media only screen and (max-width: 700px){
  .account-form{
    text-align: center;
    position: relative;

    .container{
      margin: 0 auto;

      header{
        margin-top: 50px;

        img{
          width: 70%;
          height: auto;
        }
      }

      form{
        width: 70%;
        margin: 100px auto;

        label{
          width: 100%;
          font-size: 2em;
          font-family: 'Bungee', cursive;
          color: #FFCE00;
          margin-bottom: 15px;
        }

        input{
          width: 92%;
          border-radius: 4px;
          padding: 4% 4%;
          margin-bottom: 15px;
          font-size: 1em;
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
        }

        button{
          margin: 0 auto;
          width: 100%;
          padding: 15px 0;
          color: #ffffff;
          font-family: 'Bungee', cursive;
          font-size: 2em;
          text-shadow: 0 2px 8px #ff6600;
          margin-top: 15px;
          border: 2px solid #FFCE00;
          border-radius: 4px;
          background: #000000;
          /* For browsers that do not support gradients */
          background: -webkit-linear-gradient(#FFCE00, #FF9300);
          /*Safari 5.1-6*/
          background: -o-linear-gradient(#FFCE00, #FF9300);
          /*Opera 11.1-12*/
          background: -moz-linear-gradient(#FFCE00, #FF9300);
          /*Fx 3.6-15*/
          background: linear-gradient(#FFCE00, #FF9300);
          /*Standard*/
          opacity: 0.9;
        }
      }
    }
  }
}
