.bottomPanel {
  width: 100%;
  height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  background: #000000;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), #000000, #000000);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(rgba(0, 0, 0, 0), #000000, #000000);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(rgba(0, 0, 0, 0), #000000, #000000);
  /*Fx 3.6-15*/
  background: linear-gradient(rgba(0, 0, 0, 0), #000000, #000000);
  /*Standard*/
  color: #ffffff;
  align-items: flex-end;
}