body{
  margin: 0px;
  padding: 0px;
  background-image: url('/images/bg-image.png');
  background-size: cover;
  background-position: center top;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

.hide{
  display: none !important;
}
