/* ---------- counter ---------- */
.counterBgTimer {
  width: 100%;
  height: 100vh;
  background-color: rgba(44, 19, 113, 0.8);
  display: block;
  position: absolute;
  z-index: 1;
}
.counterBgTimer .counter {
  position: fixed;
  z-index: 1;
  top: 5.5em;
  width: 100%;
}
.counterBgTimer .counter h2 {
  width: 200px;
  font-size: 1em;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  padding: 1em 0;
  margin: 0 auto;
  text-align: center;
  font-family: 'Bungee', cursive;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  border-radius: 30px;
  color: #ffffff;
}
.counterBgTimer .counter h2 p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}
.counterBgTimer .counter h2.timer {
  background: #0089FF;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#0089FF, #001E62);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(#0089FF, #001E62);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(#0089FF, #001E62);
  /*Fx 3.6-15*/
  background: linear-gradient(#0089FF, #001E62);
  /*Standard*/
  border: 2px solid #0089FF;
}
.counterBgMove {
  width: 100%;
  background-color: none;
  display: none;
  position: absolute;
  z-index: 1;
}
.counterBgMove .counter {
  position: fixed;
  z-index: 1;
  top: 5.5em;
  width: 100%;
}
.counterBgMove .counter h2 {
  width: 200px;
  font-size: 1em;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  padding: 1em 0;
  margin: 0 auto;
  text-align: center;
  font-family: 'Bungee', cursive;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  border-radius: 30px;
  color: #ffffff;
}
.counterBgMove .counter h2 p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}
.counterBgMove .counter h2.move {
  background: #ff0000;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#ff0000, #8E0000);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(#ff0000, #8E0000);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(#ff0000, #8E0000);
  /*Fx 3.6-15*/
  background: linear-gradient(#ff0000, #8E0000);
  /*Standard*/
  border: 2px solid #ff0000;
}
