/* ---------- gridContainer ---------- */
.gridContainer {
  position: absolute;
  z-index: -1;
  margin: 0 5%;
  padding: 140px 0;
  width: 200%;
  max-width: 1000px;
  overflow: hidden;
  background-color: rgba(44, 19, 113, 0.5);
  align-items: center;
  display: flex;
  justify-content: center;
}
.gridContainer #hexGrid {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  overflow: hidden;
  padding-bottom: 4.4%;
  width: 90%;
  margin: 0 5%;
}
.gridContainer .hex {
  outline: 1px solid transparent;
  position: relative;
  visibility: hidden;
  width: 20%;
}
.gridContainer .hex::after {
  content: '';
  display: block;
  padding-bottom: 86.602%;
}
.gridContainer .hexIn {
  -ms-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  -webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  margin: 0 2%;
  outline: 1px solid transparent;
  overflow: hidden;
  padding-bottom: 110.851%;
  position: absolute;
  transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  visibility: hidden;
  width: 96%;
}
.gridContainer .hexIn * {
  outline: 1px solid transparent;
  position: absolute;
  visibility: visible;
}
.gridContainer .hexLink {
  -ms-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  -webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  color: #ffffff;
  display: block;
  height: 100%;
  overflow: hidden;
  text-align: center;
  transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  width: 100%;
  opacity: 0.6;
}
.gridContainer .hexLink:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.5);
}
.gridContainer .hexLink h2 {
  width: 80%;
  margin: 50% 10% 0 10%;
  font-family: 'Bungee', cursive;
  text-align: center;
  font-size: 1em;
  text-shadow: 0 2px 10px #000000;
}
.gridContainer .hexLink h4 {
  width: 80%;
  margin: 50% 10% 0 10%;
  font-family: 'Bungee', cursive;
  text-align: center;
  font-size: 1em;
  text-shadow: 0 2px 10px #000000;
}
.gridContainer .hexLink img {
  width: 50%;
  height: auto;
  margin-top: 40%;
}
.gridContainer .hexLink .avatar {
  width: 50%;
  margin: 0 25%;
  height: 100px;
  position: absolute;
  top: 25%;
  z-index: 1;
  padding: 0;
}
.gridContainer .hexLink .avatar img {
  width: 100%;
  height: auto;
  margin-left: -50%;
}
.gridContainer .hexCurrent {
  background-color: rgba(255, 255, 255, 0.8) !important;
  background-image: url('../images/icon-location.svg') !important;
  background-repeat: no-repeat !important;
  background-position: 50% 15% !important;
  background-size: 40px 40px !important;
  z-index: 9999999999999 !important;
  position: absolute !important;
  opacity: 1 !important;
}
.gridContainer .hexEmpty {
  background-color: rgba(255, 255, 255, 0.2);
}
.gridContainer .hexArea,
.gridContainer .hexZone,
.gridContainer .hexMine {
  background: #663ED3;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#663ED3, #2C1371);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(#663ED3, #2C1371);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(#663ED3, #2C1371);
  /*Fx 3.6-15*/
  background: linear-gradient(#663ED3, #2C1371);
  /*Standard*/
}
.gridContainer .hexMine {
  background: #76FF00;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#76FF00, #187C00);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(#76FF00, #187C00);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(#76FF00, #187C00);
  /*Fx 3.6-15*/
  background: linear-gradient(#76FF00, #187C00);
  /*Standard*/
}
.gridContainer .hexWater {
  background: #58DFFF;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#58DFFF, #008A9B);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(#58DFFF, #008A9B);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(#58DFFF, #008A9B);
  /*Fx 3.6-15*/
  background: linear-gradient(#58DFFF, #008A9B);
  /*Standard*/
}
.gridContainer .hexElec {
  background: #587FFF;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#587FFF, #0015B5);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(#587FFF, #0015B5);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(#587FFF, #0015B5);
  /*Fx 3.6-15*/
  background: linear-gradient(#587FFF, #0015B5);
  /*Standard*/
}
.gridContainer .hexNotMine {
  background: #B63ED3;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#B63ED3, #501371);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(#B63ED3, #501371);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(#B63ED3, #501371);
  /*Fx 3.6-15*/
  background: linear-gradient(#B63ED3, #501371);
  /*Standard*/
}
@media (max-width: 2000px) {
  .gridContainer .hex:nth-child(9n+6) {
    margin-left: 10%;
  }
}
