/* ---------- Overlay Part ---------- */
.overlayRightMenu {
  width: 100%;
  height: 100vh;
  background-color: rgba(43, 35, 146, 0.8);
  position: absolute;
  top: 0;
  display: none;
  z-index: 1;
  cursor: pointer;
}
.overlayRightMenu .rightNav ul {
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 5.3em;
  right: 15px;
  width: 250px;
}
.overlayRightMenu .rightNav ul li {
  list-style: none;
  text-align: right;
  float: right;
}
.overlayRightMenu .rightNav ul li img {
  width: 56px;
  height: auto;
}
.overlayRightMenu .rightNav ul li span {
  line-height: 2.8em;
  float: left;
}
.overlayRightMenu .rightNav ul li a {
  color: #ffffff;
  font-family: 'Bungee', cursive;
  text-decoration: none;
  opacity: 0.8;
}
.overlayRightMenu .rightNav ul li a:hover {
  text-decoration: none;
  opacity: 1;
}
.overlayLeftMenu {
  width: 100%;
  height: 100vh;
  background-color: rgba(43, 35, 146, 0.8);
  position: absolute;
  top: 0;
  display: none;
  z-index: 1;
  cursor: pointer;
}
.overlayLeftMenu .leftNav ul {
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 5.3em;
  left: 15px;
  width: 100px;
}
.overlayLeftMenu .leftNav ul li {
  list-style: none;
  text-align: left;
  float: left;
}
.overlayLeftMenu .leftNav ul li img {
  width: 56px;
  height: auto;
}
.overlayLeftMenu .leftNav ul li span {
  line-height: 2.8em;
  float: right;
}
.overlayLeftMenu .leftNav ul li a {
  color: #ffffff;
  font-family: 'Bungee', cursive;
  text-decoration: none;
  opacity: 0.8;
}
.overlayLeftMenu .leftNav ul li a:hover {
  text-decoration: none;
  opacity: 1;
}
.overlayPopUp {
  width: 100%;
  height: 100vh;
  background-color: rgba(43, 35, 146, 0.8);
  position: absolute;
  top: 0;
  display: none;
  z-index: 1;
}
.overlayPopUp .popBody {
  width: 82%;
  max-width: 500px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 10px;
  padding: 4%;
}
.overlayPopUp .popBody .popHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}
.overlayPopUp .popBody .popHeader .popTitle {
  flex-basis: 90%;
  text-align: center;
  font-size: 1.5em;
  color: #2c1371;
}
.overlayPopUp .popBody .popHeader .popClose {
  flex-basis: 10%;
}
.overlayPopUp .popBody .popContent {
  width: 100%;
  padding: 15px 0;
  text-align: center;
}
.overlayPopUp .popBody .popContent h2 {
  font-family: 'Bungee', cursive;
  color: #444444;
}
.overlayPopUp .popBody .popContent h3 {
  font-family: 'Bungee', cursive;
  color: #2b2392;
}
.overlayPopUp .popBody .popContent .avatar img {
  width: 80px;
  height: auto;
}
.overlayPopUp .popBody .popContent .ownerName {
  font-family: 'Open Sans', sans-serif;
  color: #2b2392;
  font-size: 1.4em;
  font-weight: 700;
  margin: 0.5em 0;
}
.overlayPopUp .popBody .popContent .info {
  font-family: 'Bungee', cursive;
}
.overlayPopUp .popBody .popContent .info label {
  color: #999999;
  font-size: 0.8em;
}
.overlayPopUp .popBody .popContent .info h4 {
  color: #2b2392;
  font-size: 1.2em;
  margin-bottom: 1em;
}
.overlayPopUpOwner {
  width: 100%;
  height: 100vh;
  background-color: rgba(43, 35, 146, 0.8);
  position: absolute;
  top: 0;
  display: block;
  z-index: 1;
}
.overlayPopUpOwner .popBody {
  width: 82%;
  max-width: 500px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 10px;
  padding: 4%;
}
.overlayPopUpOwner .popBody .popHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}
.overlayPopUpOwner .popBody .popHeader .popTitle {
  flex-basis: 90%;
  text-align: center;
  font-size: 1.5em;
  color: #2c1371;
}
.overlayPopUpOwner .popBody .popHeader .popClose {
  flex-basis: 10%;
}
.overlayPopUpOwner .popBody .popContent {
  width: 100%;
  padding: 15px 0;
  text-align: center;
}
.overlayPopUpOwner .popBody .popContent .avatar img {
  width: 80px;
  height: auto;
}
.overlayPopUpOwner .popBody .popContent .ownerName {
  font-family: 'Open Sans', sans-serif;
  color: #2b2392;
  font-size: 1.4em;
  font-weight: 700;
  margin: 0.5em 0;
}
.overlayPopUpOwner .popBody .popContent .info {
  font-family: 'Bungee', cursive;
}
.overlayPopUpOwner .popBody .popContent .info label {
  color: #444444;
  font-size: 0.8em;
}
.overlayPopUpOwner .popBody .popContent .info h4 {
  color: #2b2392;
  font-size: 1.2em;
  margin-bottom: 1em;
}
.overlayPopUpPurchase {
  width: 100%;
  height: 100vh;
  background-color: rgba(43, 35, 146, 0.8);
  position: absolute;
  top: 0;
  display: block;
  z-index: 1;
}
.overlayPopUpPurchase .popBody {
  width: 82%;
  max-width: 500px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 10px;
  padding: 4%;
}
.overlayPopUpPurchase .popBody .popHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}
.overlayPopUpPurchase .popBody .popHeader .popTitle {
  flex-basis: 90%;
  text-align: center;
  font-size: 1.5em;
  color: #2c1371;
}
.overlayPopUpPurchase .popBody .popHeader .popClose {
  flex-basis: 10%;
}
.overlayPopUpPurchase .popBody .popContent {
  width: 100%;
  padding: 15px 0;
  text-align: center;
}
.overlayPopUpPurchase .popBody .popContent .avatar img {
  width: 80px;
  height: auto;
}
.overlayPopUpPurchase .popBody .popContent .ownerName {
  font-family: 'Open Sans', sans-serif;
  color: #2b2392;
  font-size: 1.4em;
  font-weight: 700;
  margin: 0.5em 0;
}
.overlayPopUpPurchase .popBody .popContent .info {
  font-family: 'Bungee', cursive;
}
.overlayPopUpPurchase .popBody .popContent .info label {
  color: #444444;
  font-size: 0.8em;
}
.overlayPopUpPurchase .popBody .popContent .info h4 {
  color: #2b2392;
  font-size: 1.2em;
  margin-bottom: 1em;
}
.overlayPopUpPurchase .popBody .popContent .info input {
  width: 80%;
  margin: 0 10%;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  padding: 0 0 0.5em 0;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #cccccc;
}
.overlayPopUpPurchase .popBody .popContent .info button {
  padding: 8px 30px;
  color: #ffffff;
  font-size: 1.2em;
  font-family: 'Bungee', cursive;
  text-shadow: 0 2px 8px #ff6600;
  margin-top: 15px;
  border: 3px solid #FFCE00;
  border-radius: 30px;
  background: #000000;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#FFCE00, #FF9300);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(#FFCE00, #FF9300);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(#FFCE00, #FF9300);
  /*Fx 3.6-15*/
  background: linear-gradient(#FFCE00, #FF9300);
  /*Standard*/
  opacity: 0.9;
}
.overlayPopUpPurchase .popBody .popContent .info button:hover {
  opacity: 1;
}
.overlayPopUpPurchaseDone {
  width: 100%;
  height: 100vh;
  background-color: rgba(43, 35, 146, 0.8);
  position: absolute;
  top: 0;
  display: block;
  z-index: 1;
}
.overlayPopUpPurchaseDone .popBody {
  width: 82%;
  max-width: 500px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 10px;
  padding: 4%;
}
.overlayPopUpPurchaseDone .popBody .popHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}
.overlayPopUpPurchaseDone .popBody .popHeader .popTitle {
  flex-basis: 90%;
  text-align: center;
  font-size: 1.5em;
  color: #2c1371;
}
.overlayPopUpPurchaseDone .popBody .popHeader .popClose {
  flex-basis: 10%;
}
.overlayPopUpPurchaseDone .popBody .popContent {
  width: 100%;
  padding: 15px 0;
  text-align: center;
}
.overlayPopUpPurchaseDone .popBody .popContent h1 {
  font-family: 'Bungee', cursive;
  color: #444444;
  font-size: 1.4em;
}
.overlayPopUpPurchaseDone .popBody .popContent h2 {
  font-family: 'Bungee', cursive;
  color: #444444;
  font-size: 0.8em;
}
.overlayPopUpPurchaseDone .popBody .popContent h3 {
  font-family: 'Bungee', cursive;
  color: #FFCE00;
}
