.player-page{
  header{
    width: 92%;
    padding: 15px 4% 15px 4%;
    height: 5em;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: 'Bungee', cursive;
    background: #000000;
    background: -webkit-linear-gradient(#000000, #000000, rgba(0, 0, 0, 0));
    background: -o-linear-gradient(#000000, #000000, rgba(0, 0, 0, 0));
    background: -moz-linear-gradient(#000000, #000000, rgba(0, 0, 0, 0));
    background: linear-gradient(#000000, #000000, rgba(0, 0, 0, 0));

    section.left{
      width: 10%;
      color: #ffffff;
      text-align: left;
      padding-top: 0.2em;

      img{
        width: auto;
        height: 2em;
      }
    }
    section.center{
      width: 80%;
      text-align: center;
      color: #ffffff;

      h1{
        margin: -10px;
      }
    }
    section.right{
      width: 10%;
      color: #ffffff;
      text-align: right;
      padding-top: 0.2em;
    }

    article{
      width: 100%;
      height: 4em;
      position: fixed;
      top: 3.8em;
      background: #2C1371;
      background: -webkit-linear-gradient(#2C1371, #100026);
      background: -o-linear-gradient(#2C1371, #100026);
      background: -moz-linear-gradient(#2C1371, #100026);
      background: linear-gradient(#2C1371, #100026);
      border-bottom: 2px solid #2C1371;
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
      color: #ffffff;
      font-family: 'Bungee', cursive;

      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: row; /* works with row or column */
      flex-direction: row;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;

      section{
        padding: 0px 10px;
        line-height: 2em;

        img{
          float:left;
          padding-right: 10px;
        }
      }
    }
  }

  .marketplace-tabs{
    width: 92%;
    list-style: none;
    margin: 200px auto 15px auto;

    ul{
      margin: 0;
      padding: 0;
      text-align: center;
      margin: 0 auto;
      list-style-type:none;
      display: flex;
      flex-flow: row;
      justify-content: center;
      list-style: none;
      font-family: 'Bungee', cursive;
      font-size: 0.8em;
      border-bottom: 1px solid #9553EF;

      li{
        background: none;
        color: #ffffff;
        display: inline-block;
        padding: 0.8em 1em;
        cursor: pointer;
      }
      li.active{
        background: #9553EF;
        color: #ffffff;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
  }

  .marketplace-content{
    width: 92%;

    ul{
      li{
        width: 100%;
        list-style: none;
        display: inline-block;
        float: left;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3);
        margin-bottom: 25px;
        padding-bottom: 25px;

        section.icon{
          float: left;
          margin-right: 1em;
        }
        section.description{
          color: #ffffff;
          float: left;
          padding-top: 0.5em;

          h2{
            font-family: 'Bungee', cursive;
            font-size: 1em;
          }
          h3{
            font-family: 'Bungee', cursive;
            font-size: 0.7em;
          }
        }
        section.btnPurchase{
          float: right;

          h2{
            color: #ffffff;
            font-family: 'Bungee', cursive;
            line-height: 1.8em;
          }

          button{
            font-family: 'Bungee', cursive;
            font-size: 0.8em;
            padding: 8px 0;
            width: 80px;
            margin-top: 0.5em;
            text-shadow: 0 2px 8px #ff6600;
            color: #ffffff;
            border: 1px solid #FFCE00;
            border-radius: 30px;
            background: #000000;
            background: -webkit-linear-gradient(#FFCE00, #FF9300);
            background: -o-linear-gradient(#FFCE00, #FF9300);
            background: -moz-linear-gradient(#FFCE00, #FF9300);
            background: linear-gradient(#FFCE00, #FF9300);
            cursor: pointer;
          }
        }
      }
    }
  }
}
