@import "variable.less";

body {
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center top;
    background-image: url(../images/bg-image.png);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

input:focus, select:focus, textarea:focus, button:focus {
    outline: none;
}

/* ---------- splash ---------- */
.splash {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    img {
        width: 80%;
        height: auto;
        max-width: 400px;
    }
}

/* ---------- login ---------- */
.login {
    height: 90vh;
    text-align: center;
    width: 90%;
    max-width: 500px;
    margin: 0 auto;

    .loginHeader {
        margin-bottom: 25px;
        margin-top: 10vh;

         img {
            width: auto;
            height: 90px;
        }
    }

    .loginBody {
        font-family: @mainFont;
        width: 100%;
        float: left;
        margin-bottom: 25px;

        span {
            width: 100%;
            font-size: 1em;
            color: @yellow;
            margin-bottom: 15px;
        }

        input {
            width: 92%;
            border-radius: 4px;
            padding: 4% 4%;
            margin-bottom: 15px;
            font-size: 1em;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
        }

        button {
            margin: 0 auto;
            width: 100%;
            padding: 15px 0;
            color: #ffffff;
            font-size: 1em;
            font-family: @mainFont;
            text-shadow: 0 2px 8px #ff6600;
            margin-top: 15px;
            border: 2px solid @yellow;
            border-radius: 4px;
            background: rgba(0, 0, 0, 1); /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(#FFCE00, #FF9300); /*Safari 5.1-6*/
            background: -o-linear-gradient(#FFCE00, #FF9300); /*Opera 11.1-12*/
            background: -moz-linear-gradient(#FFCE00, #FF9300); /*Fx 3.6-15*/
            background: linear-gradient(#FFCE00, #FF9300); /*Standard*/
            opacity: 0.9;

            &:hover {
                opacity: 1;
            }
        }
    }

    .loginFooter {
        font-family: @mainFont;

        span {
            width: 100%;
            color: @white;
            text-align: center;
        }

        button {
            margin: 0 auto;
            width: 100%;
            padding: 15px 0;
            color: #ffffff;
            font-size: 1em;
            font-family: @mainFont;
            text-shadow: 0 2px 8px #001BB2;
            margin-top: 15px;
            border: 2px solid #0027FF;
            border-radius: 4px;
            background: #4047FF; /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(#4047FF, #001BB2); /*Safari 5.1-6*/
            background: -o-linear-gradient(#4047FF, #001BB2); /*Opera 11.1-12*/
            background: -moz-linear-gradient(#4047FF, #001BB2); /*Fx 3.6-15*/
            background: linear-gradient(#4047FF, #001BB2); /*Standard*/
            opacity: 0.9;

            &:hover {
                opacity: 1;
            }
        }
    }
}

/* ---------- topPanel ---------- */
.topPanel {
    width: 92%;
    padding: 15px 4% 15px 4%;
    height: 5em;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: @mainFont;
    background: rgba(0, 0, 0, 1); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(0,0,0,1),rgba(0,0,0,1),rgba(0,0,0,0)); /*Safari 5.1-6*/
    background: -o-linear-gradient(rgba(0,0,0,1),rgba(0,0,0,1),rgba(0,0,0,0)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(rgba(0,0,0,1),rgba(0,0,0,1),rgba(0,0,0,0)); /*Fx 3.6-15*/
    background: linear-gradient(rgba(0,0,0,1), rgba(0,0,0,1),rgba(0,0,0,0)); /*Standard*/
    
    .topAreaLeft {
        width: 10%;
        color: @white;
        text-align: left;
        padding-top: 0.2em;

        img {
            width: auto;
            height: 2em;
        }
    }

    .topAreaCenter {
        width: 80%;
        text-align: center;
        color: @white;

        .title {
            font-size: 1.5em;
        }

        .subTitle {
            font-size: 0.8em;
        }
    }

    .topAreaRight {
        width: 10%;
        color: @white;
        text-align: right;
        padding-top: 0.2em;

        img {
            width: auto;
            height: 1.5em;
        }
    }
}

/* ---------- counter ---------- */
.counterBgTimer {
    width: 100%;
    height: 100vh;
    background-color: rgba(44, 19, 113, 0.8);
    display: none;
    position: absolute;
    z-index: 1;

    .counter {
        position: fixed;
        z-index: 1;
        top: 5.5em;
        width: 100%;

        h2 {
            width: 200px;
            font-size: 1em;
            text-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
            padding: 1em 0;
            margin: 0 auto;
            text-align: center;
            font-family: @mainFont;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
            border-radius: 30px;
            color: #ffffff;
            
            p {
                font-family: @font;
                font-size: 0.8em;
                margin: 0;
                padding: 0;
            }

            &.timer {
                background: #0089FF; /* For browsers that do not support gradients */
                background: -webkit-linear-gradient(#0089FF, #001E62); /*Safari 5.1-6*/
                background: -o-linear-gradient(#0089FF, #001E62); /*Opera 11.1-12*/
                background: -moz-linear-gradient(#0089FF, #001E62); /*Fx 3.6-15*/
                background: linear-gradient(#0089FF, #001E62); /*Standard*/
                border: 2px solid #0089FF;
            }
        }
    }
}

.counterBgMove {
    width: 100%;
    background-color: none;
    display: none;
    position: absolute;
    z-index: 1;

    .counter {
        position: fixed;
        z-index: 1;
        top: 5.5em;
        width: 100%;

        h2 {
            width: 200px;
            font-size: 1em;
            text-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
            padding: 1em 0;
            margin: 0 auto;
            text-align: center;
            font-family: @mainFont;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
            border-radius: 30px;
            color: #ffffff;
            
            p {
                font-family: @font;
                font-size: 0.8em;
                margin: 0;
                padding: 0;
            }

            &.move {
                background: #ff0000; /* For browsers that do not support gradients */
                background: -webkit-linear-gradient(#ff0000, #8E0000); /*Safari 5.1-6*/
                background: -o-linear-gradient(#ff0000, #8E0000); /*Opera 11.1-12*/
                background: -moz-linear-gradient(#ff0000, #8E0000); /*Fx 3.6-15*/
                background: linear-gradient(#ff0000, #8E0000); /*Standard*/
                border: 2px solid #ff0000;
            }
        }
    }
}

/* ---------- currentPointBar ---------- */
.currentPointBar {
    width: 100%;
    height: 4em;
    position: fixed;
    top: 3.8em;
    background: #2C1371; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#2C1371, #100026); /*Safari 5.1-6*/
    background: -o-linear-gradient(#2C1371, #100026); /*Opera 11.1-12*/
    background: -moz-linear-gradient(#2C1371, #100026); /*Fx 3.6-15*/
    background: linear-gradient(#2C1371, #100026); /*Standard*/
    border-bottom: 2px solid #2C1371;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-family: @mainFont;

    ul {
        margin: 0;
        padding: 0;
        text-align: center;
        width: 300px;
        margin: 0 auto;

        li {
            display: inline-block;
            list-style: none;
            width: 46%;
            line-height: 0.5em;
            float: left;
            text-align: left;
            padding: 15px 0 0 4%;

            img {
                width: 30px;
                height: auto;
                float: left;
                margin-right: 0.5em;
            }

            span {
                line-height: 2em;
                float: left;
            }
        }
    }
}

/* ---------- gridContainer ---------- */
.gridContainer {
    position: absolute;
    z-index: -1;
    padding: 140px 0;
    width: 200%;
    max-width: 800px;
    overflow: hidden;
    background-color: rgba(44, 19, 113, 0.5);
    align-items: center;
    display: flex;
    justify-content: center;

    #hexGrid {
        display: flex;
        flex-wrap: wrap;
        list-style-type: none;
        overflow: hidden;
        padding-bottom: 4.4%;
        width: 90%;
    }
    .hex {
        outline:1px solid transparent;
        position: relative;
        visibility:hidden;
        width: 20%;
        
        &::after {
            content:'';
            display:block;
            padding-bottom: 86.602%;
        }
    }
    
    .hexIn {
        -ms-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
        -webkit-transform: rotate3d(0,0,1,-60deg) skewY(30deg);
        margin:0 2%;
        outline:1px solid transparent;
        overflow: hidden;
        padding-bottom: 110.851%;
        position: absolute;
        transform: rotate3d(0,0,1,-60deg) skewY(30deg);
        visibility: hidden;
        width:96%;
        
        * {
            outline:1px solid transparent;
            position: absolute;
            visibility: visible;
        }
    }
    .hexLink {
        -ms-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
        -webkit-transform: skewY(-30deg) rotate3d(0,0,1,60deg);
        color: #ffffff;
        display:block;
        height: 100%;
        overflow: hidden;
        text-align: center;
        transform: skewY(-30deg) rotate3d(0,0,1,60deg);
        width: 100%;
        opacity: 0.6;
        
        &:hover {
            opacity: 1;
            background-color: rgba(255,255,255,0.5);
        }

        h2 {
            width: 80%;
            margin: 50% 10% 0 10%;;
            font-family: @mainFont;
            text-align: center;
            font-size: 1em;
            text-shadow: 0 2px 10px #000000;
        }

        h4 {
            width: 80%;
            margin: 50% 10% 0 10%;;
            font-family: @mainFont;
            text-align: center;
            font-size: 1em;
            text-shadow: 0 2px 10px #000000;
        }

        img {
            width: 50%;
            height: auto;
            margin-top: 40%;
        }

        .avatar {
            width: 50%;
            margin: 0 25%;
            height: 100px;
            position: absolute;
            top: 25%;
            z-index: 1;
            padding: 0;

            img {
                width: 100%;
                height: auto;
                margin-left: -50%;
            }
        }
    }

    .hexCurrent {
        background-color: rgba(255, 255, 255, 0.8) !important;
        background-image: url('../images/icon-location.svg') !important;
        background-repeat: no-repeat !important;
        background-position: 50% 15% !important;
        background-size: 40px 40px !important;
        z-index: 9999999999999 !important;
        position: absolute !important;
        opacity: 1 !important;
    }

    .hexEmpty {
        background-color: rgba(255,255,255,0.2);
    }

    .hexArea, .hexZone, .hexMine {
        background: #663ED3; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#663ED3, #2C1371); /*Safari 5.1-6*/
        background: -o-linear-gradient(#663ED3, #2C1371); /*Opera 11.1-12*/
        background: -moz-linear-gradient(#663ED3, #2C1371); /*Fx 3.6-15*/
        background: linear-gradient(#663ED3, #2C1371); /*Standard*/
    }

   .hexMine {
        background: #76FF00; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#76FF00, #187C00); /*Safari 5.1-6*/
        background: -o-linear-gradient(#76FF00, #187C00); /*Opera 11.1-12*/
        background: -moz-linear-gradient(#76FF00, #187C00); /*Fx 3.6-15*/
        background: linear-gradient(#76FF00, #187C00); /*Standard*/
    }

    .hexWater {
        background: #58DFFF; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#58DFFF, #008A9B); /*Safari 5.1-6*/
        background: -o-linear-gradient(#58DFFF, #008A9B); /*Opera 11.1-12*/
        background: -moz-linear-gradient(#58DFFF, #008A9B); /*Fx 3.6-15*/
        background: linear-gradient(#58DFFF, #008A9B); /*Standard*/
    }

    .hexElec {
        background: #587FFF; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#587FFF, #0015B5); /*Safari 5.1-6*/
        background: -o-linear-gradient(#587FFF, #0015B5); /*Opera 11.1-12*/
        background: -moz-linear-gradient(#587FFF, #0015B5); /*Fx 3.6-15*/
        background: linear-gradient(#587FFF, #0015B5); /*Standard*/
    }

    .hexNotMine {
        background: #B63ED3; /* For browsers that do not support gradients */
        background: -webkit-linear-gradient(#B63ED3, #501371); /*Safari 5.1-6*/
        background: -o-linear-gradient(#B63ED3, #501371); /*Opera 11.1-12*/
        background: -moz-linear-gradient(#B63ED3, #501371); /*Fx 3.6-15*/
        background: linear-gradient(#B63ED3, #501371); /*Standard*/
    }

    

    @media (max-width:1600px) {
            .hex:nth-child(9n+6){ margin-left:10%;
        }
    }
}

/* ---------- container ---------- */
.container {
    position: absolute;
    z-index: -1;
    top: 130px;
    float: left;
    width: 92%;
    padding: 4%;
    height: auto;
    overflow: hidden;

    /* ---------- tabContent ---------- */
    ul.tabs {
		list-style: none;
		margin: 4% 0px 0px 0px;
		padding: 0px;
        font-family: @mainFont;
        font-size: 0.8em;
        text-align: center;
        border-bottom: 1px solid #9553EF;

		li {
			background: none;
			color: #ffffff;
			cursor: pointer;
			display: inline-block;
			padding: 0.8em 1em;
			cursor: pointer;
		}

		li.current {
			background: #9553EF;
			color: @white;
            -webkit-border-top-left-radius: 5px;
            -webkit-border-top-right-radius: 5px;
            -moz-border-radius-topleft: 5px;
            -moz-border-radius-topright: 5px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
		}
	}

	.tab-content {
		background: none;
		display: none;
		padding: 15px 0;

        ul {
            margin: 0;
            padding: 0;

            li {
                width: 100%;
                list-style: none;
                display: inline-block;
                float: left;
                border-bottom: 1px solid rgba(255,255,255,0.3);
                margin-bottom: 25px;
                padding-bottom: 25px;

                &:first-child {
                    padding-top: 25px;
                }

                .icon {
                    float: left;
                    margin-right: 1em;

                    img {
                        width: 56px;
                        height: auto;
                    }
                }

                .description {
                    color: @white;
                    float: left;
                    padding-top: 0.5em;
                    
                    h2 {
                        font-family: @mainFont;
                        font-size: 1em;
                    }

                    h3 {
                        font-family: @mainFont;
                        font-size: 0.7em;
                    }
                }

                .btnPurchase {
                    float: right;

                    h2 {
                        color: #ffffff;
                        font-family: @mainFont;
                        line-height: 1.8em;
                    }

                    button {
                        font-family: @mainFont;
                        font-size: 0.8em;
                        padding: 8px 0;
                        width: 80px;
                        margin-top: 0.5em;
                        text-shadow: 0 2px 8px #ff6600;
                        color: #ffffff;
                        border: 1px solid @yellow;
                        border-radius: 30px;
                        background: #FFCE00; /* For browsers that do not support gradients */
                        background: -webkit-linear-gradient(#FFCE00, #FF9300); /*Safari 5.1-6*/
                        background: -o-linear-gradient(#FFCE00, #FF9300); /*Opera 11.1-12*/
                        background: -moz-linear-gradient(#FFCE00, #FF9300); /*Fx 3.6-15*/
                        background: linear-gradient(#FFCE00, #FF9300); /*Standard*/
                    }
                }
            }
        }
	}

	.tab-content.current {
		display: inherit;
	}

    /* ---------- distanceCounter ---------- */
    .distanceCounter {
        text-align: center;
        margin-top: 15px;
        font-family: @mainFont;
        color: #ffffff;
        text-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);

        .meter {
            width: 250px;
            height: 250px;
            border-radius: 50%;
            background-color: rgba(14, 4, 39, 0.6);
            border: 5px solid rgba(43, 35, 146, 0.6);;
            margin: 0 auto;

            h4 {
                font-size: 1em;
                margin-top: 5em;
            }

            h2 {
                font-size: 3em;
            }
        }

        .description {
            margin-top: 15px;
            font-size: 1.5em;
            color: #FFCE00;
        }

        button {
            padding: 15px 30px;
            color: #ffffff;
            font-size: 1.5em;
            font-family: @mainFont;
            text-shadow: 0 2px 8px #ff6600;
            margin-top: 15px;
            border: 3px solid @yellow;
            border-radius: 30px;
            background: rgba(0, 0, 0, 1); /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(#FFCE00, #FF9300); /*Safari 5.1-6*/
            background: -o-linear-gradient(#FFCE00, #FF9300); /*Opera 11.1-12*/
            background: -moz-linear-gradient(#FFCE00, #FF9300); /*Fx 3.6-15*/
            background: linear-gradient(#FFCE00, #FF9300); /*Standard*/
            opacity: 0.9;

            &:hover {
                opacity: 1;
            }
        }
    }
}

/* ---------- bottomPanel ---------- */
.bottomPanel {
    width: 100%;
    height: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 1); /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1),rgba(0,0,0,1)); /*Safari 5.1-6*/
    background: -o-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1),rgba(0,0,0,1)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1),rgba(0,0,0,1)); /*Fx 3.6-15*/
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1),rgba(0,0,0,1)); /*Standard*/
    color: @white;
    align-items: flex-end;

    .bottomAreaLeft {
        flex-basis: 10%;
        text-align: left;
        padding-left: 5px;

        img {
            width: auto;
            height: 5em;
        }
    }

    .bottomAreaCenter {
        width: 80%;
        text-align: center;
        color: @white;
    }

    .bottomAreaRight {
        flex-basis: 10%;
        text-align: right;
        padding-right: 5px;

        img {
            width: auto;
            height: 5em;
        }
    }
}

/* ---------- Overlay Part ---------- */
.overlayRightMenu {
    width: 100%;
    height: 100vh;
    background-color: rgba(43, 35, 146, 0.8);
    position: absolute;
    top: 0;
    display: none;
    z-index: 1;
    cursor: pointer;

    .rightNav {
        
        ul {
            margin: 0;
            padding: 0;
            position: fixed;
            bottom: 5.3em;
            right: 15px;
            width: 250px;

            li {
                list-style: none;
                text-align: right;
                float: right;

                img {
                    width: 56px;
                    height: auto;
                }

                span {
                    line-height: 2.8em;
                    float: left;
                }

                a {
                    color: #ffffff;
                    font-family: @mainFont;
                    text-decoration: none;
                    opacity: 0.8;

                    &:hover {
                        text-decoration: none;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.overlayLeftMenu {
    width: 100%;
    height: 100vh;
    background-color: rgba(43, 35, 146, 0.8);
    position: absolute;
    top: 0;
    display: none;
    z-index: 1;
    cursor: pointer;

    .leftNav {
        
        ul {
            margin: 0;
            padding: 0;
            position: fixed;
            bottom: 5.3em;
            left: 15px;
            width: 100px;

            li {
                list-style: none;
                text-align: left;
                float: left;

                img {
                    width: 56px;
                    height: auto;
                }

                span {
                    line-height: 2.8em;
                    float: right;
                }

                a {
                    color: #ffffff;
                    font-family: @mainFont;
                    text-decoration: none;
                    opacity: 0.8;

                    &:hover {
                        text-decoration: none;
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.overlayPopUp {
    width: 100%;
    height: 100vh;
    background-color: rgba(43, 35, 146, 0.8);
    position: absolute;
    top: 0;
    display: none;
    z-index: 1;
    
    .popBody {
        width: 82%;
        max-width: 500px;
        background-color: #ffffff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
        margin: 0 auto;
        margin-top: 10%;
        border-radius: 10px;
        padding: 4%;

        .popHeader {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-family: @mainFont;

            .popTitle {
                flex-basis: 90%;
                text-align: center;
                font-size: 1.5em;
                color: rgba(44, 19, 113, 1);
            }

            .popClose {
                flex-basis: 10%;
            }
        }

        .popContent {
            width: 100%;
            padding: 15px 0;
            text-align: center;

            h2 {
                font-family: @mainFont;
                color: #444444;
            }

            h3 {
                font-family: @mainFont;
                color: rgba(43, 35, 146, 1);
            }

            .avatar {

                img {
                    width: 80px;
                    height: auto;
                }
            }

            .ownerName {
                font-family: @font;
                color: @theme01;
                font-size: 1.4em;
                font-weight: 700;
                margin: 0.5em 0;
            }

            .info {
                font-family: @mainFont;

                label {
                    color: #999999;
                    font-size: 0.8em;
                }

                h4 {
                    color: @theme01;
                    font-size: 1.2em;
                    margin-bottom: 1em;
                }
            }
        }

        .popFooter {}
    }
}

.overlayPopUpOwner {
    width: 100%;
    height: 100vh;
    background-color: rgba(43, 35, 146, 0.8);
    position: absolute;
    top: 0;
    display: none;
    z-index: 1;
    
    .popBody {
        width: 82%;
        max-width: 500px;
        background-color: #ffffff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
        margin: 0 auto;
        margin-top: 10%;
        border-radius: 10px;
        padding: 4%;

        .popHeader {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-family: @mainFont;

            .popTitle {
                flex-basis: 90%;
                text-align: center;
                font-size: 1.5em;
                color: rgba(44, 19, 113, 1);
            }

            .popClose {
                flex-basis: 10%;
            }
        }

        .popContent {
            width: 100%;
            padding: 15px 0;
            text-align: center;

            .avatar {

                img {
                    width: 80px;
                    height: auto;
                }
            }

            .ownerName {
                font-family: @font;
                color: @theme01;
                font-size: 1.4em;
                font-weight: 700;
                margin: 0.5em 0;
            }

            .info {
                font-family: @mainFont;

                label {
                    color: #444444;
                    font-size: 0.8em;
                }

                h4 {
                    color: @theme01;
                    font-size: 1.2em;
                    margin-bottom: 1em;
                }
            }
        }

        .popFooter {}
    }
}

.overlayPopUpPurchase {
    width: 100%;
    height: 100vh;
    background-color: rgba(43, 35, 146, 0.8);
    position: absolute;
    top: 0;
    display: none;
    z-index: 1;
    
    .popBody {
        width: 82%;
        max-width: 500px;
        background-color: #ffffff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
        margin: 0 auto;
        margin-top: 10%;
        border-radius: 10px;
        padding: 4%;

        .popHeader {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-family: @mainFont;

            .popTitle {
                flex-basis: 90%;
                text-align: center;
                font-size: 1.5em;
                color: rgba(44, 19, 113, 1);
            }

            .popClose {
                flex-basis: 10%;
            }
        }

        .popContent {
            width: 100%;
            padding: 15px 0;
            text-align: center;

            .avatar {

                img {
                    width: 80px;
                    height: auto;
                }
            }

            .ownerName {
                font-family: @font;
                color: @theme01;
                font-size: 1.4em;
                font-weight: 700;
                margin: 0.5em 0;
            }

            .info {
                font-family: @mainFont;

                label {
                    color: #444444;
                    font-size: 0.8em;
                }

                h4 {
                    color: @theme01;
                    font-size: 1.2em;
                    margin-bottom: 1em;
                }

                input {
                    width: 80%;
                    margin: 0 10%;
                    font-size: 1em;
                    font-family: @font;
                    padding: 0 0 0.5em 0;
                    text-align: center;
                    border-top: none;
                    border-left: none;
                    border-right: none;
                    border-bottom: 1px solid #cccccc;
                }

                button {
                    padding: 8px 30px;
                    color: #ffffff;
                    font-size: 1.2em;
                    font-family: @mainFont;
                    text-shadow: 0 2px 8px #ff6600;
                    margin-top: 15px;
                    border: 3px solid @yellow;
                    border-radius: 30px;
                    background: rgba(0, 0, 0, 1); /* For browsers that do not support gradients */
                    background: -webkit-linear-gradient(#FFCE00, #FF9300); /*Safari 5.1-6*/
                    background: -o-linear-gradient(#FFCE00, #FF9300); /*Opera 11.1-12*/
                    background: -moz-linear-gradient(#FFCE00, #FF9300); /*Fx 3.6-15*/
                    background: linear-gradient(#FFCE00, #FF9300); /*Standard*/
                    opacity: 0.9;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        .popFooter {}
    }
}

.overlayPopUpPurchaseDone {
    width: 100%;
    height: 100vh;
    background-color: rgba(43, 35, 146, 0.8);
    position: absolute;
    top: 0;
    display: none;
    z-index: 1;
    
    .popBody {
        width: 82%;
        max-width: 500px;
        background-color: #ffffff;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
        margin: 0 auto;
        margin-top: 10%;
        border-radius: 10px;
        padding: 4%;

        .popHeader {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            font-family: @mainFont;

            .popTitle {
                flex-basis: 90%;
                text-align: center;
                font-size: 1.5em;
                color: rgba(44, 19, 113, 1);
            }

            .popClose {
                flex-basis: 10%;
            }
        }

        .popContent {
            width: 100%;
            padding: 15px 0;
            text-align: center;

            h1 {
                font-family: @mainFont;
                color: #444444;
                font-size: 1.4em;
            }

            h2 {
                font-family: @mainFont;
                color: #444444;
                font-size: 0.8em;
            }

            h3 {
                font-family: @mainFont;
                color: @yellow;
            }
        }

        .popFooter {}
    }
}