@import url('https://fonts.googleapis.com/css?family=Bungee|Open+Sans');
body {
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center top;
  background-image: url(../images/bg-image.png);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* ---------- splash ---------- */
.splash {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.splash img {
  width: 80%;
  height: auto;
  max-width: 400px;
}
/* ---------- login ---------- */
.login {
  height: 90vh;
  text-align: center;
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
}
.login .loginHeader {
  margin-bottom: 25px;
  margin-top: 10vh;
}
.login .loginHeader img {
  width: auto;
  height: 90px;
}
.login .loginBody {
  font-family: 'Bungee', cursive;
  width: 100%;
  float: left;
  margin-bottom: 25px;
}
.login .loginBody span {
  width: 100%;
  font-size: 1em;
  color: #FFCE00;
  margin-bottom: 15px;
}
.login .loginBody input {
  width: 92%;
  border-radius: 4px;
  padding: 4% 4%;
  margin-bottom: 15px;
  font-size: 1em;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
}
.login .loginBody button {
  margin: 0 auto;
  width: 100%;
  padding: 15px 0;
  color: #ffffff;
  font-size: 1em;
  font-family: 'Bungee', cursive;
  text-shadow: 0 2px 8px #ff6600;
  margin-top: 15px;
  border: 2px solid #FFCE00;
  border-radius: 4px;
  background: #000000;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#FFCE00, #FF9300);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(#FFCE00, #FF9300);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(#FFCE00, #FF9300);
  /*Fx 3.6-15*/
  background: linear-gradient(#FFCE00, #FF9300);
  /*Standard*/
  opacity: 0.9;
}
.login .loginBody button:hover {
  opacity: 1;
}
.login .loginFooter {
  font-family: 'Bungee', cursive;
}
.login .loginFooter span {
  width: 100%;
  color: #ffffff;
  text-align: center;
}
.login .loginFooter button {
  margin: 0 auto;
  width: 100%;
  padding: 15px 0;
  color: #ffffff;
  font-size: 1em;
  font-family: 'Bungee', cursive;
  text-shadow: 0 2px 8px #001BB2;
  margin-top: 15px;
  border: 2px solid #0027FF;
  border-radius: 4px;
  background: #4047FF;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#4047FF, #001BB2);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(#4047FF, #001BB2);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(#4047FF, #001BB2);
  /*Fx 3.6-15*/
  background: linear-gradient(#4047FF, #001BB2);
  /*Standard*/
  opacity: 0.9;
}
.login .loginFooter button:hover {
  opacity: 1;
}
/* ---------- topPanel ---------- */
.topPanel {
  width: 92%;
  padding: 15px 4% 15px 4%;
  height: 5em;
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: 'Bungee', cursive;
  background: #000000;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#000000, #000000, rgba(0, 0, 0, 0));
  /*Safari 5.1-6*/
  background: -o-linear-gradient(#000000, #000000, rgba(0, 0, 0, 0));
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(#000000, #000000, rgba(0, 0, 0, 0));
  /*Fx 3.6-15*/
  background: linear-gradient(#000000, #000000, rgba(0, 0, 0, 0));
  /*Standard*/
}
.topPanel .topAreaLeft {
  width: 10%;
  color: #ffffff;
  text-align: left;
  padding-top: 0.2em;
}
.topPanel .topAreaLeft img {
  width: auto;
  height: 2em;
}
.topPanel .topAreaCenter {
  width: 80%;
  text-align: center;
  color: #ffffff;
}
.topPanel .topAreaCenter .title {
  font-size: 1.5em;
}
.topPanel .topAreaCenter .subTitle {
  font-size: 0.8em;
}
.topPanel .topAreaRight {
  width: 10%;
  color: #ffffff;
  text-align: right;
  padding-top: 0.2em;
}
.topPanel .topAreaRight img {
  width: auto;
  height: 1.5em;
}
/* ---------- counter ---------- */
.counterBgTimer {
  width: 100%;
  height: 100vh;
  background-color: rgba(44, 19, 113, 0.8);
  display: none;
  position: absolute;
  z-index: 1;
}
.counterBgTimer .counter {
  position: fixed;
  z-index: 1;
  top: 5.5em;
  width: 100%;
}
.counterBgTimer .counter h2 {
  width: 200px;
  font-size: 1em;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  padding: 1em 0;
  margin: 0 auto;
  text-align: center;
  font-family: 'Bungee', cursive;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  border-radius: 30px;
  color: #ffffff;
}
.counterBgTimer .counter h2 p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}
.counterBgTimer .counter h2.timer {
  background: #0089FF;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#0089FF, #001E62);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(#0089FF, #001E62);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(#0089FF, #001E62);
  /*Fx 3.6-15*/
  background: linear-gradient(#0089FF, #001E62);
  /*Standard*/
  border: 2px solid #0089FF;
}
.counterBgMove {
  width: 100%;
  background-color: none;
  display: none;
  position: absolute;
  z-index: 1;
}
.counterBgMove .counter {
  position: fixed;
  z-index: 1;
  top: 5.5em;
  width: 100%;
}
.counterBgMove .counter h2 {
  width: 200px;
  font-size: 1em;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  padding: 1em 0;
  margin: 0 auto;
  text-align: center;
  font-family: 'Bungee', cursive;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  border-radius: 30px;
  color: #ffffff;
}
.counterBgMove .counter h2 p {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8em;
  margin: 0;
  padding: 0;
}
.counterBgMove .counter h2.move {
  background: #ff0000;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#ff0000, #8E0000);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(#ff0000, #8E0000);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(#ff0000, #8E0000);
  /*Fx 3.6-15*/
  background: linear-gradient(#ff0000, #8E0000);
  /*Standard*/
  border: 2px solid #ff0000;
}
/* ---------- currentPointBar ---------- */
.currentPointBar {
  width: 100%;
  height: 4em;
  position: fixed;
  top: 3.8em;
  background: #2C1371;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#2C1371, #100026);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(#2C1371, #100026);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(#2C1371, #100026);
  /*Fx 3.6-15*/
  background: linear-gradient(#2C1371, #100026);
  /*Standard*/
  border-bottom: 2px solid #2C1371;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
  color: #ffffff;
  font-family: 'Bungee', cursive;
}
.currentPointBar ul {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 300px;
  margin: 0 auto;
}
.currentPointBar ul li {
  display: inline-block;
  list-style: none;
  width: 46%;
  line-height: 0.5em;
  float: left;
  text-align: left;
  padding: 15px 0 0 4%;
}
.currentPointBar ul li img {
  width: 30px;
  height: auto;
  float: left;
  margin-right: 0.5em;
}
.currentPointBar ul li span {
  line-height: 2em;
  float: left;
}
/* ---------- gridContainer ---------- */
.gridContainer {
  position: absolute;
  z-index: -1;
  padding: 140px 0;
  width: 200%;
  max-width: 800px;
  overflow: hidden;
  background-color: rgba(44, 19, 113, 0.5);
  align-items: center;
  display: flex;
  justify-content: center;
}
.gridContainer #hexGrid {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  overflow: hidden;
  padding-bottom: 4.4%;
  width: 90%;
}
.gridContainer .hex {
  outline: 1px solid transparent;
  position: relative;
  visibility: hidden;
  width: 20%;
}
.gridContainer .hex::after {
  content: '';
  display: block;
  padding-bottom: 86.602%;
}
.gridContainer .hexIn {
  -ms-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  -webkit-transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  margin: 0 2%;
  outline: 1px solid transparent;
  overflow: hidden;
  padding-bottom: 110.851%;
  position: absolute;
  transform: rotate3d(0, 0, 1, -60deg) skewY(30deg);
  visibility: hidden;
  width: 96%;
}
.gridContainer .hexIn * {
  outline: 1px solid transparent;
  position: absolute;
  visibility: visible;
}
.gridContainer .hexLink {
  -ms-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  -webkit-transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  color: #ffffff;
  display: block;
  height: 100%;
  overflow: hidden;
  text-align: center;
  transform: skewY(-30deg) rotate3d(0, 0, 1, 60deg);
  width: 100%;
  opacity: 0.6;
}
.gridContainer .hexLink:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.5);
}
.gridContainer .hexLink h2 {
  width: 80%;
  margin: 50% 10% 0 10%;
  font-family: 'Bungee', cursive;
  text-align: center;
  font-size: 1em;
  text-shadow: 0 2px 10px #000000;
}
.gridContainer .hexLink h4 {
  width: 80%;
  margin: 50% 10% 0 10%;
  font-family: 'Bungee', cursive;
  text-align: center;
  font-size: 1em;
  text-shadow: 0 2px 10px #000000;
}
.gridContainer .hexLink img {
  width: 50%;
  height: auto;
  margin-top: 40%;
}
.gridContainer .hexLink .avatar {
  width: 50%;
  margin: 0 25%;
  height: 100px;
  position: absolute;
  top: 25%;
  z-index: 1;
  padding: 0;
}
.gridContainer .hexLink .avatar img {
  width: 100%;
  height: auto;
  margin-left: -50%;
}
.gridContainer .hexCurrent {
  background-color: rgba(255, 255, 255, 0.8) !important;
  background-image: url('../images/icon-location.svg') !important;
  background-repeat: no-repeat !important;
  background-position: 50% 15% !important;
  background-size: 40px 40px !important;
  z-index: 9999999999999 !important;
  position: absolute !important;
  opacity: 1 !important;
}
.gridContainer .hexEmpty {
  background-color: rgba(255, 255, 255, 0.2);
}
.gridContainer .hexArea,
.gridContainer .hexZone,
.gridContainer .hexMine {
  background: #663ED3;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#663ED3, #2C1371);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(#663ED3, #2C1371);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(#663ED3, #2C1371);
  /*Fx 3.6-15*/
  background: linear-gradient(#663ED3, #2C1371);
  /*Standard*/
}
.gridContainer .hexMine {
  background: #76FF00;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#76FF00, #187C00);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(#76FF00, #187C00);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(#76FF00, #187C00);
  /*Fx 3.6-15*/
  background: linear-gradient(#76FF00, #187C00);
  /*Standard*/
}
.gridContainer .hexWater {
  background: #58DFFF;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#58DFFF, #008A9B);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(#58DFFF, #008A9B);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(#58DFFF, #008A9B);
  /*Fx 3.6-15*/
  background: linear-gradient(#58DFFF, #008A9B);
  /*Standard*/
}
.gridContainer .hexElec {
  background: #587FFF;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#587FFF, #0015B5);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(#587FFF, #0015B5);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(#587FFF, #0015B5);
  /*Fx 3.6-15*/
  background: linear-gradient(#587FFF, #0015B5);
  /*Standard*/
}
.gridContainer .hexNotMine {
  background: #B63ED3;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#B63ED3, #501371);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(#B63ED3, #501371);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(#B63ED3, #501371);
  /*Fx 3.6-15*/
  background: linear-gradient(#B63ED3, #501371);
  /*Standard*/
}
@media (max-width: 1600px) {
  .gridContainer .hex:nth-child(9n+6) {
    margin-left: 10%;
  }
}
/* ---------- container ---------- */
.container {
  position: absolute;
  z-index: -1;
  top: 130px;
  float: left;
  width: 92%;
  padding: 4%;
  height: auto;
  overflow: hidden;
  /* ---------- tabContent ---------- */
  /* ---------- distanceCounter ---------- */
}
.container ul.tabs {
  list-style: none;
  margin: 4% 0px 0px 0px;
  padding: 0px;
  font-family: 'Bungee', cursive;
  font-size: 0.8em;
  text-align: center;
  border-bottom: 1px solid #9553EF;
}
.container ul.tabs li {
  background: none;
  color: #ffffff;
  display: inline-block;
  padding: 0.8em 1em;
  cursor: pointer;
}
.container ul.tabs li.current {
  background: #9553EF;
  color: #ffffff;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.container .tab-content {
  background: none;
  display: none;
  padding: 15px 0;
}
.container .tab-content ul {
  margin: 0;
  padding: 0;
}
.container .tab-content ul li {
  width: 100%;
  list-style: none;
  display: inline-block;
  float: left;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin-bottom: 25px;
  padding-bottom: 25px;
}
.container .tab-content ul li:first-child {
  padding-top: 25px;
}
.container .tab-content ul li .icon {
  float: left;
  margin-right: 1em;
}
.container .tab-content ul li .icon img {
  width: 56px;
  height: auto;
}
.container .tab-content ul li .description {
  color: #ffffff;
  float: left;
  padding-top: 0.5em;
}
.container .tab-content ul li .description h2 {
  font-family: 'Bungee', cursive;
  font-size: 1em;
}
.container .tab-content ul li .description h3 {
  font-family: 'Bungee', cursive;
  font-size: 0.7em;
}
.container .tab-content ul li .btnPurchase {
  float: right;
}
.container .tab-content ul li .btnPurchase h2 {
  color: #ffffff;
  font-family: 'Bungee', cursive;
  line-height: 1.8em;
}
.container .tab-content ul li .btnPurchase button {
  font-family: 'Bungee', cursive;
  font-size: 0.8em;
  padding: 8px 0;
  width: 80px;
  margin-top: 0.5em;
  text-shadow: 0 2px 8px #ff6600;
  color: #ffffff;
  border: 1px solid #FFCE00;
  border-radius: 30px;
  background: #FFCE00;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#FFCE00, #FF9300);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(#FFCE00, #FF9300);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(#FFCE00, #FF9300);
  /*Fx 3.6-15*/
  background: linear-gradient(#FFCE00, #FF9300);
  /*Standard*/
}
.container .tab-content.current {
  display: inherit;
}
.container .distanceCounter {
  text-align: center;
  margin-top: 15px;
  font-family: 'Bungee', cursive;
  color: #ffffff;
  text-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}
.container .distanceCounter .meter {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: rgba(14, 4, 39, 0.6);
  border: 5px solid rgba(43, 35, 146, 0.6);
  margin: 0 auto;
}
.container .distanceCounter .meter h4 {
  font-size: 1em;
  margin-top: 5em;
}
.container .distanceCounter .meter h2 {
  font-size: 3em;
}
.container .distanceCounter .description {
  margin-top: 15px;
  font-size: 1.5em;
  color: #FFCE00;
}
.container .distanceCounter button {
  padding: 15px 30px;
  color: #ffffff;
  font-size: 1.5em;
  font-family: 'Bungee', cursive;
  text-shadow: 0 2px 8px #ff6600;
  margin-top: 15px;
  border: 3px solid #FFCE00;
  border-radius: 30px;
  background: #000000;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#FFCE00, #FF9300);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(#FFCE00, #FF9300);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(#FFCE00, #FF9300);
  /*Fx 3.6-15*/
  background: linear-gradient(#FFCE00, #FF9300);
  /*Standard*/
  opacity: 0.9;
}
.container .distanceCounter button:hover {
  opacity: 1;
}
/* ---------- bottomPanel ---------- */
.bottomPanel {
  width: 100%;
  height: 5em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  background: #000000;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), #000000, #000000);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(rgba(0, 0, 0, 0), #000000, #000000);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(rgba(0, 0, 0, 0), #000000, #000000);
  /*Fx 3.6-15*/
  background: linear-gradient(rgba(0, 0, 0, 0), #000000, #000000);
  /*Standard*/
  color: #ffffff;
  align-items: flex-end;
}
.bottomPanel .bottomAreaLeft {
  flex-basis: 10%;
  text-align: left;
  padding-left: 5px;
}
.bottomPanel .bottomAreaLeft img {
  width: auto;
  height: 5em;
}
.bottomPanel .bottomAreaCenter {
  width: 80%;
  text-align: center;
  color: #ffffff;
}
.bottomPanel .bottomAreaRight {
  flex-basis: 10%;
  text-align: right;
  padding-right: 5px;
}
.bottomPanel .bottomAreaRight img {
  width: auto;
  height: 5em;
}
/* ---------- Overlay Part ---------- */
.overlayRightMenu {
  width: 100%;
  height: 100vh;
  background-color: rgba(43, 35, 146, 0.8);
  position: absolute;
  top: 0;
  display: none;
  z-index: 1;
  cursor: pointer;
}
.overlayRightMenu .rightNav ul {
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 5.3em;
  right: 15px;
  width: 250px;
}
.overlayRightMenu .rightNav ul li {
  list-style: none;
  text-align: right;
  float: right;
}
.overlayRightMenu .rightNav ul li img {
  width: 56px;
  height: auto;
}
.overlayRightMenu .rightNav ul li span {
  line-height: 2.8em;
  float: left;
}
.overlayRightMenu .rightNav ul li a {
  color: #ffffff;
  font-family: 'Bungee', cursive;
  text-decoration: none;
  opacity: 0.8;
}
.overlayRightMenu .rightNav ul li a:hover {
  text-decoration: none;
  opacity: 1;
}
.overlayLeftMenu {
  width: 100%;
  height: 100vh;
  background-color: rgba(43, 35, 146, 0.8);
  position: absolute;
  top: 0;
  display: none;
  z-index: 1;
  cursor: pointer;
}
.overlayLeftMenu .leftNav ul {
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 5.3em;
  left: 15px;
  width: 100px;
}
.overlayLeftMenu .leftNav ul li {
  list-style: none;
  text-align: left;
  float: left;
}
.overlayLeftMenu .leftNav ul li img {
  width: 56px;
  height: auto;
}
.overlayLeftMenu .leftNav ul li span {
  line-height: 2.8em;
  float: right;
}
.overlayLeftMenu .leftNav ul li a {
  color: #ffffff;
  font-family: 'Bungee', cursive;
  text-decoration: none;
  opacity: 0.8;
}
.overlayLeftMenu .leftNav ul li a:hover {
  text-decoration: none;
  opacity: 1;
}
.overlayPopUp {
  width: 100%;
  height: 100vh;
  background-color: rgba(43, 35, 146, 0.8);
  position: absolute;
  top: 0;
  display: none;
  z-index: 1;
}
.overlayPopUp .popBody {
  width: 82%;
  max-width: 500px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 10px;
  padding: 4%;
}
.overlayPopUp .popBody .popHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}
.overlayPopUp .popBody .popHeader .popTitle {
  flex-basis: 90%;
  text-align: center;
  font-size: 1.5em;
  color: #2c1371;
}
.overlayPopUp .popBody .popHeader .popClose {
  flex-basis: 10%;
}
.overlayPopUp .popBody .popContent {
  width: 100%;
  padding: 15px 0;
  text-align: center;
}
.overlayPopUp .popBody .popContent h2 {
  font-family: 'Bungee', cursive;
  color: #444444;
}
.overlayPopUp .popBody .popContent h3 {
  font-family: 'Bungee', cursive;
  color: #2b2392;
}
.overlayPopUp .popBody .popContent .avatar img {
  width: 80px;
  height: auto;
}
.overlayPopUp .popBody .popContent .ownerName {
  font-family: 'Open Sans', sans-serif;
  color: #2b2392;
  font-size: 1.4em;
  font-weight: 700;
  margin: 0.5em 0;
}
.overlayPopUp .popBody .popContent .info {
  font-family: 'Bungee', cursive;
}
.overlayPopUp .popBody .popContent .info label {
  color: #999999;
  font-size: 0.8em;
}
.overlayPopUp .popBody .popContent .info h4 {
  color: #2b2392;
  font-size: 1.2em;
  margin-bottom: 1em;
}
.overlayPopUpOwner {
  width: 100%;
  height: 100vh;
  background-color: rgba(43, 35, 146, 0.8);
  position: absolute;
  top: 0;
  display: none;
  z-index: 1;
}
.overlayPopUpOwner .popBody {
  width: 82%;
  max-width: 500px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 10px;
  padding: 4%;
}
.overlayPopUpOwner .popBody .popHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}
.overlayPopUpOwner .popBody .popHeader .popTitle {
  flex-basis: 90%;
  text-align: center;
  font-size: 1.5em;
  color: #2c1371;
}
.overlayPopUpOwner .popBody .popHeader .popClose {
  flex-basis: 10%;
}
.overlayPopUpOwner .popBody .popContent {
  width: 100%;
  padding: 15px 0;
  text-align: center;
}
.overlayPopUpOwner .popBody .popContent .avatar img {
  width: 80px;
  height: auto;
}
.overlayPopUpOwner .popBody .popContent .ownerName {
  font-family: 'Open Sans', sans-serif;
  color: #2b2392;
  font-size: 1.4em;
  font-weight: 700;
  margin: 0.5em 0;
}
.overlayPopUpOwner .popBody .popContent .info {
  font-family: 'Bungee', cursive;
}
.overlayPopUpOwner .popBody .popContent .info label {
  color: #444444;
  font-size: 0.8em;
}
.overlayPopUpOwner .popBody .popContent .info h4 {
  color: #2b2392;
  font-size: 1.2em;
  margin-bottom: 1em;
}
.overlayPopUpPurchase {
  width: 100%;
  height: 100vh;
  background-color: rgba(43, 35, 146, 0.8);
  position: absolute;
  top: 0;
  display: none;
  z-index: 1;
}
.overlayPopUpPurchase .popBody {
  width: 82%;
  max-width: 500px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 10px;
  padding: 4%;
}
.overlayPopUpPurchase .popBody .popHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}
.overlayPopUpPurchase .popBody .popHeader .popTitle {
  flex-basis: 90%;
  text-align: center;
  font-size: 1.5em;
  color: #2c1371;
}
.overlayPopUpPurchase .popBody .popHeader .popClose {
  flex-basis: 10%;
}
.overlayPopUpPurchase .popBody .popContent {
  width: 100%;
  padding: 15px 0;
  text-align: center;
}
.overlayPopUpPurchase .popBody .popContent .avatar img {
  width: 80px;
  height: auto;
}
.overlayPopUpPurchase .popBody .popContent .ownerName {
  font-family: 'Open Sans', sans-serif;
  color: #2b2392;
  font-size: 1.4em;
  font-weight: 700;
  margin: 0.5em 0;
}
.overlayPopUpPurchase .popBody .popContent .info {
  font-family: 'Bungee', cursive;
}
.overlayPopUpPurchase .popBody .popContent .info label {
  color: #444444;
  font-size: 0.8em;
}
.overlayPopUpPurchase .popBody .popContent .info h4 {
  color: #2b2392;
  font-size: 1.2em;
  margin-bottom: 1em;
}
.overlayPopUpPurchase .popBody .popContent .info input {
  width: 80%;
  margin: 0 10%;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  padding: 0 0 0.5em 0;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #cccccc;
}
.overlayPopUpPurchase .popBody .popContent .info button {
  padding: 8px 30px;
  color: #ffffff;
  font-size: 1.2em;
  font-family: 'Bungee', cursive;
  text-shadow: 0 2px 8px #ff6600;
  margin-top: 15px;
  border: 3px solid #FFCE00;
  border-radius: 30px;
  background: #000000;
  /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(#FFCE00, #FF9300);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(#FFCE00, #FF9300);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(#FFCE00, #FF9300);
  /*Fx 3.6-15*/
  background: linear-gradient(#FFCE00, #FF9300);
  /*Standard*/
  opacity: 0.9;
}
.overlayPopUpPurchase .popBody .popContent .info button:hover {
  opacity: 1;
}
.overlayPopUpPurchaseDone {
  width: 100%;
  height: 100vh;
  background-color: rgba(43, 35, 146, 0.8);
  position: absolute;
  top: 0;
  display: none;
  z-index: 1;
}
.overlayPopUpPurchaseDone .popBody {
  width: 82%;
  max-width: 500px;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
  margin: 0 auto;
  margin-top: 10%;
  border-radius: 10px;
  padding: 4%;
}
.overlayPopUpPurchaseDone .popBody .popHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}
.overlayPopUpPurchaseDone .popBody .popHeader .popTitle {
  flex-basis: 90%;
  text-align: center;
  font-size: 1.5em;
  color: #2c1371;
}
.overlayPopUpPurchaseDone .popBody .popHeader .popClose {
  flex-basis: 10%;
}
.overlayPopUpPurchaseDone .popBody .popContent {
  width: 100%;
  padding: 15px 0;
  text-align: center;
}
.overlayPopUpPurchaseDone .popBody .popContent h1 {
  font-family: 'Bungee', cursive;
  color: #444444;
  font-size: 1.4em;
}
.overlayPopUpPurchaseDone .popBody .popContent h2 {
  font-family: 'Bungee', cursive;
  color: #444444;
  font-size: 0.8em;
}
.overlayPopUpPurchaseDone .popBody .popContent h3 {
  font-family: 'Bungee', cursive;
  color: #FFCE00;
}
