@import url('https://fonts.googleapis.com/css?family=Bungee|Open+Sans');

@mainFont: 'Bungee', cursive;
@font: 'Open Sans', sans-serif;

@theme01: rgba(43, 35, 146, 1);
@theme02: rgba(44, 19, 113, 1);

@white: rgba(255, 255, 255, 1);

@yellow: #FFCE00;